html {
    scroll-behavior: smooth;
}
body{
    margin:0px;
    font-family: Open Sans, sans-serif;
    height: 100%;
    cursor: default;
}
h1{
    font-weight: 700;
    letter-spacing: 4px;
}
h2{
   font-style: italic;
   font-weight: 100;
}
h1,h2,h3,p,ol,ul{
    margin-left: 30px;
    margin-right: 30px;
}
.navbar{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    background-color: white; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
} 
.logo img{ 
    height: 50px; 
} 
.nav-links{ 
    list-style-type: none; 
    display: flex; 
    gap: 20px; 
    margin-right: 40px; 
}
.nav-links a{ 
    color: black; 
    text-decoration: none; 
} 
.nav-links a:hover{ 
    color: #00ADEF; 
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .navbar{
        position: relative;
    }
    #myMapImage {
        display: none;
    } 
    #map p{
        display: none;
    }         
}
section{
    scroll-margin-top: 80px;
}
.top-section{
    background-image: url(images/bluebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    color: white;
    padding: 15px;
}
.container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 30px; 
    box-sizing: border-box; 
} 
.container img, 
.container iframe { 
    max-width: 500px; 
    width: 100%; 
    aspect-ratio: 16 / 9; 
    object-fit: cover; 
    border-radius: 10px; 
}
.room{
  display: block;
  margin: 20px auto;
  width: 50%;
  object-fit: cover;
  padding: 5px;
}
.body-section{
   background: linear-gradient(#1A476F,#0A3052);
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
   color:aliceblue;
   margin-left: 3%;
   margin-right: 3%;
   padding: 5px;
}
.tb{
    color: black;
    background-color: black;
    width: 70%;
    margin: 5px auto;
    height: 100px;
}
.tr1{
    background-color: grey;
}
.tr2{
    background-color: lightgrey;
}
.tr3{
    background-color: white;
}
.tb tr{
    text-align: center;
}
a {
    color:white;
}
.mapcontainer{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    padding: 30px; 
}
.mapcontainer iframe{
    max-width: 700px; 
    width: 100%; 
    aspect-ratio: 16 / 9; 
    border-radius: 10px;
    height: 500px;
}
area{
    cursor: pointer;
}
.imgmap {
  display: block;           
  margin: 20px auto;        
  padding: 30px; 
}
ul{
    list-style-type: square;
}
.body-section:last-of-type {
  margin-bottom: 40px;
}


